body {
    background: #FCFFFF;
    color: rgb(42, 42, 42);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.container {
    padding: 5%;
    background: #ECF0F3;
    border-radius: 10px;
    box-shadow: inset -5px -5px 10px #F9FAFC, 5px 5px 10px #D8DCE5;
}